.wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;

  .loading,
  .noImg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
    }
  }

  .noImg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
