@import "src/app/layouts.scss";

.wrapper {
  width: 60vw;
  height: 75vh;
  margin: 1rem auto 0 auto;
  display: grid;
  padding: 2px;
  gap: 2px;
  background-color: grey;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.hide {
  display: none;
}
