<div class="wrapper" [class]="layout">
  <app-fabric-view
    class="box"
    *ngFor="let img of imgs; let i = index;"
    [class.hide]="!showItemInLayout(i)"
    [viewID]="img.id"
    [style]="img.style"
    [img]="img.img"
  ></app-fabric-view>
</div>
<div class="actions">
  <button (click)="changeLayout('layout2')">Layout 2</button>
  <button (click)="changeLayout('layout3')">Layout 3</button>
  <button (click)="changeLayout('layout4')">Layout 4</button>
  <button (click)="changeLayout('layout5')">Layout 5</button>
  <button (click)="changeLayout('layout6')">Layout 6</button>
  <button (click)="changeLayout('layout7')">Layout 7</button>
  <button (click)="changeLayout('layout8')">Layout 8</button>
  <button (click)="changeLayout('layout9')">Layout 9</button>
</div>
