// NOTE: This is strictly bound with 'src\app\layouts-for-image-num.ts'.
//       When adding/removing from any of these 2 files, the other
//       file should also be updated correctly.

.layout1 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
}

.layout2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a b";
}

.layout3 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a"
    "b";
}

.layout4,
.layout5,
.layout6 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.layout4 {
  grid-template-areas:
    "a b"
    "a c";
}

.layout5 {
  grid-template-areas:
    "b a"
    "c a";
}

.layout6 {
  grid-template-areas:
    "a b"
    "c d";
}

.layout7,
.layout8 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.layout7 {
  grid-template-areas:
    "a a a b b b"
    "a a a b b b"
    "a a a d d d"
    "c c c d d d"
    "c c c e e e"
    "c c c e e e";
}

.layout8 {
  grid-template-areas:
    "b b b a a a"
    "b b b a a a"
    "d d d a a a"
    "d d d c c c"
    "e e e c c c"
    "e e e c c c";
}

.layout9 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a b"
    "c d"
    "e f";
}
